.hr{
    border: none;
    height: 1px;
    color: black;
    background-color: black;    
}

.navbar {
  margin-bottom: 20px;
}

.con{
	width:80%;
}

.page-top{
	margin-top: -70px;
}

.home-headline{
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
}

.home-headline span{
	background-color:#231F20;
	padding: 5px 22px;
}

.section-headline{
	font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: 180px;
}

.section-headline span{
    background-color:#231F20;
    padding: 5px 22px;
}
