<!DOCTYPE html>
<html>
<head th:replace="shared_components/header :: common-header" />
<body>
	<div th:replace="shared_components/header :: navbar" />
	<div class="container" style="width: 90%">
		<div class="row">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img alt="User Account" src="/img/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; height: 6px; width:90%; background-color: #333; z-index: -1; margin-top: -100px" />
		<img alt="User Account" src="/img/wood.png" class="img-responsive"
			style="margin-top: -40px;" />
	</div>
	<div class="row" style="margin-top: 60px;">
		<div class="col-xs-9 col-xs-offset-3">
			<!-- Nav Tabs -->
			<ul class="nav nav-tabs">
				<li><a href="#tab-1" data-toggle="tab"><span
						style="color: red; font-weight: bold">Create New Account</span></a></li>
				<li><a href="#tab-2" data-toggle="tab"><span
						style="color: red; font-weight: bold">Login</span></a></li>
				<li><a href="#tab-3" data-toggle="tab"><span
						style="color: red; font-weight: bold">Forget Password?</span></a></li>
			</ul>
			<!-- Tab Panels -->
			<div class="tab-content">
			<!-- create new account -->
				<div class="tab-pane fade" id="tab-1">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none">
							<div class="panel-body"
								style="background-color: #ededed; margin-top: 20px">
								<form>
									<div class="form-group">
										<label for="newUsername">* Username: </label> <input
											required="required" type="text" class="form-control"
											id="newUsername" name="username" />
										<p style="color: #828282">Enter your username</p>
									</div>
									
									<div class="form-group">
										<label for="email">* Email Address: </label> <input
											required="required" type="text" class="form-control"
											id="email" name="email" />
										<p style="color: #828282">Enter your Email Address</p>
										<button type="submit" class="btn btn-primary">Create new account</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Log in -->
				<div class="tab-pane fade" id="tab-2">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body"
                                style="background-color: #ededed; margin-top: 20px">
                                <form>
                                    <div class="form-group">
                                        <label for="newUsername">* Username: </label> <input
                                            required="required" type="text" class="form-control"
                                            id="newUsername" name="username" />
                                        <p style="color: #828282">Enter your username</p>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="email">* Password: </label> <input
                                            required="required" type="password" class="form-control"
                                            id="password" name="password" />
                                        <p style="color: #828282">Enter your Password</p>
                                        <button type="submit" class="btn btn-primary">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
				
				<!-- Forget Password -->
				<div class="tab-pane fade" id="tab-3">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none">
                            <div class="panel-body"
                                style="background-color: #ededed; margin-top: 20px">
                                <form>                                    
                                    <div class="form-group">
                                        <label for="recoverEmail">* Email Address: </label> 
                                        <input
                                            required="required" type="text" class="form-control"
                                            id="recoverEmail" name="recoverEmail" />
                                        <p style="color: #828282">Enter your Email Address</p>
                                        <button type="submit" class="btn btn-primary">Forget Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

	<!-- end of container -->

	<div th:replace="shared_components/header :: body-bottom-scripts" />
</body>
</html>
